.home-container{
    margin-left: 10vw;
    margin-top: 17vh ;
    margin-bottom: 17rem;
}
// background-image: url(../home/woodFloorDarkOpacity.png);

.home-container-bubble{
    background-image: url(../../../images/TransBGStagger.png);
    position: relative;
    height: 70vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
}

.home-container-text{
    color: gold;
    position: absolute;
    top: 3rem

}

.home-container-text h3{
    font-size: 4rem;
    width: 40%;
    margin-left: 49.5rem;
    text-shadow: 9px 9px 15px black;
}

.bi-linkedin{
    height: 2.25rem;
}

.about-wrapper{
    height: 25.3rem;
    width: 75rem;
    margin-bottom: 10rem;
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightblue;
    border-radius: 20px;
    & h3{
        width: 20rem;
        padding: 1rem;
        margin-left: 35%;
    }
    & p{
        width: 40rem;
        margin-left: 28%;
    }
} 
.about-me-picture{
    background-image: url(../../../images/15027718_10210185771413577_4029136754926803570_n.jpg);
    height: 25.3rem;
    width: 19rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
}



