.home-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25rem;
}

.home-container-bubble{
    display: flex;
    justify-content: center;
    background-image: url(../../../images/TransBGStagger.png);
    height: 60vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-cont{
    display: flex;            
    align-items: center;      
    justify-content: center;  
}

.about-wrapper{
    display: flex;            
    align-items: center;      
    justify-content: center;  
    flex-direction:column;
    height: calc(1200px + 3rem);
    min-width: 1200px;
    // min-height: 1300px;
    margin-bottom: 10rem;
    max-width: 60%;
    background-color: lightblue;
    border-radius: 20px;
    & h3{
        font-size: calc(70px + .5vw);
        text-align: center;
        width: 20rem;
        padding: 1rem;
    }
    & p{
        font-size: calc(30px + .5vw);
        width: 60rem;
        height: 15rem;
    }
} 


.about-me-picture{
    margin-left: 10rem ;
    display: flex;            
    align-items: center;      
    justify-content: center;  
    margin-top: 2rem;
    background-image: url(../../../images/15027718_10210185771413577_4029136754926803570_n.jpg);
    height: 25.3rem;
    width: 19rem;
    min-height: 700px;
    min-width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

@media only screen and (min-width: 2800px) and (max-width: 4000px){
    .home-container-bubble{
        margin-top: calc(20rem + 1rem);
        height: 40vh;
    }
    
    .about-cont{
        
    }
    
    .about-wrapper{
        min-width: 2800px;
        height: calc(800px + 2rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25rem;
        & h3{
            font-size: calc(6rem + .5rem);
            padding-left: calc(20rem + .5rem);
        }
        & p{
            padding-top: 10rem;
            font-size: calc(4rem + .25rem);
            width: calc(80rem + 2rem);
        }
    } 
       
    .about-me-picture{
        justify-content: left;
        align-items: left;
    }
}


