.home-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.home-container-bubble{
    display: flex;
    justify-content: center;
    background-image: url(../../../images/TransBGStagger.png);
    height: 60vh;
    width: 80rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5rem;
}

.about-cont{
    display: flex;            
    align-items: center;      
    justify-content: center;  
}

.about-wrapper{
    display: flex;            
    align-items: center;      
    justify-content: center;  
    flex-direction:column;
    height: calc(800px + 3rem);
    min-width: 600px;
    // min-height: 1300px;
    margin-bottom: 10rem;
    max-width: 60%;
    background-color: lightblue;
    border-radius: 20px;
    & h3{
        font-size: calc(2rem + .5rem);
        text-align: center;
        width: 20rem;
        padding: 1rem;
    }
    & p{
        font-size: calc(1rem + .25rem);
        width: 400px;
        height: 15rem;
        text-align: justify;
    }
} 


.about-me-picture{
    margin-left: 10rem ;
    display: flex;            
    align-items: center;      
    justify-content: center;  
    margin-top: 2rem;
    background-image: url(../../../images/15027718_10210185771413577_4029136754926803570_n.jpg);
    min-height: 500px;
    min-width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

@media only screen and (min-width: 2800px) and (max-width: 4000px){
    .home-container-bubble{
        margin-top: calc(20rem + 1rem);
        height: 40vh;
    }
    .about-wrapper{
        min-width: 2800px;
        height: calc(800px + 2rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25rem;
        & h3{
            font-size: calc(6rem + .5rem);
            padding-left: calc(20rem + .5rem);
        }
        & p{
            padding-top: 10rem;
            font-size: calc(4rem + .25rem);
            width: calc(80rem + 2rem);
        }
    } 
       
    .about-me-picture{
        justify-content: left;
        align-items: left;
    }
}

@media only screen and (min-width: 4001px) and (max-width: 8000px){
    .home-container-bubble{
        margin-top: calc(20rem + 1rem);
        height: 55vh;
    }
    .about-wrapper{
        min-width: calc(3200px + 15rem);
        height: calc(1200px + 2rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25rem;
        & h3{
            font-size: calc(8rem + .5rem);
            padding-left: calc(21rem + .5rem);
            padding-top: 5rem;
        }
        & p{
            padding-top: 18rem;
            font-size: calc(5rem + .25rem);
            width: calc(120rem + 2rem);
            
        }
    } 
       
    .about-me-picture{
        min-height: 80rem;
        min-width: 50rem;
        align-items: center;
        margin-top: 5rem;
    }
}


