
.foot-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100px;
    width: 123%;
    height: 10rem;
    background-color: rgb(0, 0, 54);
    box-shadow: 0 50vh 0 50vh rgb(0, 0, 54);
}

.footer-imgs{
    height: 5rem;
    border-radius: 15px;
}

.safe-helpline{
    background-repeat: no-repeat;
    background-size: contain;
}

.veterans-crisis{
    margin-left: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (min-width: 500px) and (max-width: 800px){
    .foot-links{
        max-height: calc(10rem + .5rem);
        width: 134%;
    }
    .footer-imgs{
        height: calc(7rem + 1rem);
    }
}