.form-wrapper{
    display: flex;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
    margin-top: 3rem;
    width: 320px;
}


.form-container{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 320px;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 20px;
    color: black;
    margin-bottom: 10rem ;
    box-shadow: 8px 8px 12px rgb(5, 5, 75);
    & h1{
       font-size:2rem;
    }
    & h5{
        width: 0rem;
        padding: 1rem;
    }
    & h4{
        font-size: 1.5rem;
    }
    & h6{
        
    }
}

.title-contact{
    text-align: center;
}
.inputs{ 
    width: 11rem;
    margin-left: 5rem;
    justify-content: center;
    display: inline-flex;
    min-height: 0px;
    min-width:0px;
}

.last{
    width: 11rem;
    margin-left: 7rem;
    display: inline-flex;
}

.military{
    margin-top: 1rem;
    text-align: center;
}

label{
    display: inline-flex;
}

.last-label{
    display:none;
}

.choose-file{
    width: 11rem;
    cursor: pointer; 
}

.branch{
    cursor: pointer;
    margin-left: 5rem;
}

.jobs{
    margin-left:0;
    width: 18rem;
}

.terms{
    margin-top: 1rem;
    display: flex;
}

.terms-check-box{
    display: inline-flex;
    margin-top: .5rem;
    margin-left: 2rem;
}

input[type=checkbox] {
    margin-top: .3rem;
    transform: scale(1.5);
    cursor: pointer;
}

button{
    margin-left: 8rem !important;
    margin-top: 1rem !important;
    min-width: 0px;
    min-height: 0px;
    width: 8rem;
    height: 2.5rem;
}

.button{
    box-shadow: 5px 5px 10px rgb(16, 16, 65);
    border-radius: 5px;
}

.check-box-words{
    margin-left: 1rem
}

.error{
    margin-left: 1rem;
    color: red;
    font-weight: 600;
    font-size:.75rem;
    padding: 0;
    margin-bottom:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media only screen and (min-width: 600px){
    

    .form-container{
        justify-content: center;
        height: 90rem;
        width: 60rem;
        margin-bottom: 45rem;
        & h5{
            // font-size: calc(50px + .5vw);
            width: 0rem;
            padding: 1rem;
        }
        & h6{
        font-size: 2rem;
        }
        & h4{
            font-size: 3rem;
        }
        & h1{
            font-size: 3rem;
        }
        & h5{
            font-size: 2.5rem;
            margin-left: 10rem;
        }
    }


    .inputs{ 
        display: inline-flex;
        margin-left: 11rem;
        width: 15rem;
        height:2.5rem;
        font-size: 1.5rem;
    }

    .last{
    margin-left: 2rem;
    height: 2.5rem;
    width: 15rem;
    font-size: 1.5rem;
    }
    
    
    .jobs{
        transform: translateY(-80%);
    }

    .choose-file{
        width: 22rem;
    }


    button{
        margin-left: 20rem !important;
        margin-top: 2rem !important;
        width: 11rem;
        height: 3.56rem;
        font-size: 2rem !important;
    }


    .check-box-words{
        margin-left: 2rem
    }


    input[type=checkbox] {
        margin-top: 1rem;
        transform: scale(3);

    }
    
   
}


@media only screen and (min-width: 800px){


    .form-container{
        margin-top: 10rem;
        height: 100rem;
        width: 80rem;
        margin-bottom: 20rem;
        & h5{
            // font-size: calc(50px + .5vw);
            width: 0rem;
            padding: 1rem;
        }
        & h6{
        font-size: 2rem;
        }
        & h4{
            font-size: 3rem;
        }
        & h1{
            font-size: 4rem;
        }
        & h5{
            font-size: 2.5rem;
            margin-left: 15rem;
        }
    }


    .title-contact{
        margin-bottom: 2rem;
    }


    .inputs{ 
        display: inline-flex;
        margin-left: 11rem;
        width: 22rem;
        height:3rem;
        font-size: 2rem;
    }

    .last{
    margin-left: 2rem;
    width: 22rem;
    height:3rem;
    font-size: 2rem;
    }
    
    
    .jobs{
        transform: translateY(-100%);
    }

    .choose-file{
        width: 30rem;
    }


    button{
        margin-left: 30rem !important;
        margin-top: 2rem !important;
        width: 14rem;
        height: 4.5rem;
        font-size: 2.5rem !important;
    }


    .check-box-words{
        margin-top: 2rem;
        margin-left: 3rem
    }


    input[type=checkbox] {
        margin-top: 3rem;
        transform: scale(3);
        margin-left: 11rem;
    }

    .military{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }


}
@media only screen and (min-width: 1025px){


    .form-container{
        margin-top: 10rem;
        height: 100rem;
        width: 80rem;
        margin-bottom: 20rem;
        & h5{
            // font-size: calc(50px + .5vw);
            width: 0rem;
            padding: 1rem;
        }
        & h6{
        font-size: 2rem;
        }
        & h4{
            font-size: 3rem;
        }
        & h1{
            font-size: 4rem;
        }
        & h5{
            font-size: 2.5rem;
            margin-left: 15rem;
        }
    }


    .title-contact{
        margin-bottom: 2rem;
    }


    .inputs{ 
        display: inline-flex;
        margin-left: 11rem;
        width: 22rem;
        height:3rem;
        font-size: 2rem;
    }

    .last{
    margin-left: 2rem;
    width: 22rem;
    height:3rem;
    font-size: 2rem;
    }
    
    
    .jobs{
        transform: translateY(-100%);
    }

    .choose-file{
        width: 30rem;
    }


    button{
        margin-left: 30rem !important;
        margin-top: 2rem !important;
        width: 14rem;
        height: 4.5rem;
        font-size: 2.5rem !important;
    }


    .check-box-words{
        margin-top: 2rem;
        margin-left: 3rem
    }


    input[type=checkbox] {
        margin-top: 3rem;
        transform: scale(3);
        margin-left: 11rem;
    }

    .military{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }


}
@media only screen and (min-width: 1281px){


    .form-container{
        margin-top: 10rem;
        height: 100rem;
        width: 80rem;
        margin-bottom: 20rem;
        & h5{
            // font-size: calc(50px + .5vw);
            width: 0rem;
            padding: 1rem;
        }
        & h6{
        font-size: 2rem;
        }
        & h4{
            font-size: 3rem;
        }
        & h1{
            font-size: 4rem;
        }
        & h5{
            font-size: 2.5rem;
            margin-left: 15rem;
        }
    }


    .title-contact{
        margin-bottom: 2rem;
    }


    .inputs{ 
        display: inline-flex;
        margin-left: 11rem;
        width: 22rem;
        height:3rem;
        font-size: 2rem;
    }

    .last{
    margin-left: 2rem;
    width: 22rem;
    height:3rem;
    font-size: 2rem;
    }
    
    
    .jobs{
        transform: translateY(-100%);
    }

    .choose-file{
        width: 30rem;
    }


    button{
        margin-left: 30rem !important;
        margin-top: 2rem !important;
        width: 14rem;
        height: 4.5rem;
        font-size: 2.5rem !important;
    }


    .check-box-words{
        margin-top: 2rem;
        margin-left: 3rem
    }


    input[type=checkbox] {
        margin-top: 3rem;
        transform: scale(3);
        margin-left: 11rem;
    }

    .military{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }


}






