.form-container{
    position: relative;
    background-color: rgb(124, 124, 124);
    height: 50rem;
    width: 50rem;
    margin-top: 10rem;
    color: white;
    padding: 5rem;
    border-radius: 10px;
    margin-left: 50rem;
}