.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightblue;
  width: 40rem;
  margin-top: 8rem;
  padding: 2rem;
  border-radius: 20px;
  color: black;
  margin-bottom: 10rem;
  -webkit-box-shadow: 8px 8px 12px #05054b;
          box-shadow: 8px 8px 12px #05054b;
}

.form-container h5 {
  width: 0rem;
  padding: 1rem;
}

.title-contact {
  text-align: center;
}

.inputs {
  width: 11rem;
  margin-left: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 0px;
  min-width: 0px;
}

.last {
  width: 11rem;
  margin-left: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.military {
  margin-top: 1rem;
  text-align: center;
}

label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.choose-file {
  width: 13rem;
  cursor: pointer;
}

.branch {
  cursor: pointer;
  margin-left: 5rem;
}

.jobs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateY(80%) !important;
          transform: translateY(80%) !important;
}

.terms {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.terms-check-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: .5rem;
  margin-left: 10rem;
}

input[type=checkbox] {
  margin-top: .3rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

button {
  margin-left: 14rem !important;
  margin-top: 1rem !important;
  min-width: 0px;
  min-height: 0px;
  width: 8rem;
  height: 2.5rem;
}

.button {
  -webkit-box-shadow: 5px 5px 10px #101041;
          box-shadow: 5px 5px 10px #101041;
  border-radius: 5px;
}

.check-box-words {
  margin-left: 1rem;
}

.error {
  margin-left: 14rem;
  color: red;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .form-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90rem;
    width: 60rem;
    margin-bottom: 45rem;
  }
  .form-container h5 {
    width: 0rem;
    padding: 1rem;
  }
  .form-container h6 {
    font-size: 2rem;
  }
  .form-container h4 {
    font-size: 3rem;
  }
  .form-container h1 {
    font-size: 3rem;
  }
  .form-container h5 {
    font-size: 2.5rem;
    margin-left: 10rem;
  }
  .inputs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 11rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .last {
    margin-left: 2rem;
    height: 2.5rem;
    width: 15rem;
    font-size: 1.5rem;
  }
  .jobs {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  .choose-file {
    width: 22rem;
  }
  button {
    margin-left: 20rem !important;
    margin-top: 2rem !important;
    width: 11rem;
    height: 3.56rem;
    font-size: 2rem !important;
  }
  .check-box-words {
    margin-left: 2rem;
  }
  input[type=checkbox] {
    margin-top: 1rem;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@media only screen and (min-width: 800px) {
  .form-container {
    margin-top: 10rem;
    height: 100rem;
    width: 80rem;
    margin-bottom: 20rem;
  }
  .form-container h5 {
    width: 0rem;
    padding: 1rem;
  }
  .form-container h6 {
    font-size: 2rem;
  }
  .form-container h4 {
    font-size: 3rem;
  }
  .form-container h1 {
    font-size: 4rem;
  }
  .form-container h5 {
    font-size: 2.5rem;
    margin-left: 15rem;
  }
  .title-contact {
    margin-bottom: 2rem;
  }
  .inputs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 11rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .last {
    margin-left: 2rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .jobs {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .choose-file {
    width: 30rem;
  }
  button {
    margin-left: 30rem !important;
    margin-top: 2rem !important;
    width: 14rem;
    height: 4.5rem;
    font-size: 2.5rem !important;
  }
  .check-box-words {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  input[type=checkbox] {
    margin-top: 3rem;
    -webkit-transform: scale(3);
            transform: scale(3);
    margin-left: 11rem;
  }
  .military {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .form-container {
    margin-top: 10rem;
    height: 100rem;
    width: 80rem;
    margin-bottom: 20rem;
  }
  .form-container h5 {
    width: 0rem;
    padding: 1rem;
  }
  .form-container h6 {
    font-size: 2rem;
  }
  .form-container h4 {
    font-size: 3rem;
  }
  .form-container h1 {
    font-size: 4rem;
  }
  .form-container h5 {
    font-size: 2.5rem;
    margin-left: 15rem;
  }
  .title-contact {
    margin-bottom: 2rem;
  }
  .inputs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 11rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .last {
    margin-left: 2rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .jobs {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .choose-file {
    width: 30rem;
  }
  button {
    margin-left: 30rem !important;
    margin-top: 2rem !important;
    width: 14rem;
    height: 4.5rem;
    font-size: 2.5rem !important;
  }
  .check-box-words {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  input[type=checkbox] {
    margin-top: 3rem;
    -webkit-transform: scale(3);
            transform: scale(3);
    margin-left: 11rem;
  }
  .military {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1281px) {
  .form-container {
    margin-top: 10rem;
    height: 100rem;
    width: 80rem;
    margin-bottom: 20rem;
  }
  .form-container h5 {
    width: 0rem;
    padding: 1rem;
  }
  .form-container h6 {
    font-size: 2rem;
  }
  .form-container h4 {
    font-size: 3rem;
  }
  .form-container h1 {
    font-size: 4rem;
  }
  .form-container h5 {
    font-size: 2.5rem;
    margin-left: 15rem;
  }
  .title-contact {
    margin-bottom: 2rem;
  }
  .inputs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 11rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .last {
    margin-left: 2rem;
    width: 22rem;
    height: 3rem;
    font-size: 2rem;
  }
  .jobs {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .choose-file {
    width: 30rem;
  }
  button {
    margin-left: 30rem !important;
    margin-top: 2rem !important;
    width: 14rem;
    height: 4.5rem;
    font-size: 2.5rem !important;
  }
  .check-box-words {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  input[type=checkbox] {
    margin-top: 3rem;
    -webkit-transform: scale(3);
            transform: scale(3);
    margin-left: 11rem;
  }
  .military {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
/*# sourceMappingURL=GetStarted.css.map */