@media only screen and (min-width: 1400px) and (max-width: 1919px) {
    .home-container-text h3 {
        margin-left: 1rem;
        font-size: 4rem;
        text-align: center;
        width: 40%;
        margin-left: 55%;
    }
    .about-me-picture{
        margin-left: 20vw;
        height: 50vh;
    }
    .about-me-text{
        margin-left: 52vw;
    }
}