
.nav-bar {
    background-color: rgb(0, 0, 54);
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 55px;
    align-items: center;
    z-index: 2;
}

.text-links{
    font-size: .9rem;
    margin-right: 1rem;
    color: #fdfdfd;
    text-decoration: none;
}

.logo{
    margin-left: 2rem;
    width: 40%;
    background: -webkit-linear-gradient(45deg, red,white,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    z-index: 2;
}


.text-links:hover{
    color: lightblue;
}

@media only screen and (min-width: 500px){
    .text-links{
        font-size:calc(1rem + .25rem);
        margin-left: 1.6rem;
    }
    .logo{
        font-size: calc(2rem + .25rem);
        margin-left: 4rem;
    }
}
@media only screen and (min-width: 800px){
    .text-links{
        font-size: 2.75rem;
    }
    .logo{
        font-size: calc(3.5rem +.5rem);
        margin-left: calc(3rem + 1rem);
    }
    .nav-bar{
        height: 10vh;
    }
}
@media only screen and (min-width: 1200px){
    .text-links{
        font-size: 2.75rem;
    }
    .logo{
        font-size: calc(3.5rem +.5rem);
        margin-left: calc(3rem + 1rem);
    }
    .nav-bar{
        height: 10vh;
        width: 100%;
    }
}
@media only screen and (min-width: 2200px){
    .text-links{
        font-size: 2.75rem;
    }
    .logo{
        font-size: calc(5rem +.5rem);
        margin-left: calc(3rem + 1rem);
    }
    .nav-bar{
        height: 10vh;
        width: 100%;
    }
}