
.nav-bar {
    background-color: rgb(0, 0, 54);
    position: fixed;
    display: flex;
    height: 8vh;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 55px;
    align-items: center;
    z-index: 2;

}

.text-links{
    font-size: calc(70px + .5vw);
    margin-right: 3vw;
    color: #fdfdfd;
    text-decoration: none;
}

.logo{
    display: flex;
    margin-left: 2r;
    justify-content: start;
    width: 50%;
    background: -webkit-linear-gradient(45deg, red,white,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(100px + .5vw);
    z-index: 2  ;
}


.text-links:hover{
    color: lightblue;
}



