
.nav-bar {
    background-color: rgb(0, 0, 54);
    position: fixed;
    height: 8vh;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 50px;
    z-index: 2;
}

.nav-links-container{
    margin-left: 36rem;
}

.text-links{
    font-size: 3vh;
    margin-right: 3vw;
    color: #fdfdfd;
    text-decoration: none;
}

.logo{
    position: absolute;
    height: 8vh;
    width: 13vw;
    left: 2vw;
    // color: lightblue;
    background: -webkit-linear-gradient(45deg, red,white,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.nav-links{
    margin-left: 12vw;
    margin-top: 2vh;
}


.text-links:hover{
    color: lightblue;
}

.bi{
    fill: #fdfdfd;
}

.bi:hover{
    fill:lightblue;
}


.social-media-container{
    position:absolute;
    margin-top: 2vh;
    top: 0;
    height: 5vh;
    margin-left: 142rem;
    text-align: center;
    
}

.bi-linkedin{
    margin-right: 1vw;
}




