@import './Breakpoints/xsm.css';

body{
    background-color: #09262c !important;
}


.main-wrapper{
    margin-top: 8vh;
    position: relative;
}


h3{
    font-size: 4vh;
    // century gothic
}


