

body{
    background-color: #09262C;
}
.flag-background-img{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px; 
    z-index: -1;
    opacity: 50%;

}
.flag-background-img::before{
    content: "";
    opacity: 5%;
    position: absolute;
}


.main-wrapper{
    margin-top: 8vh;
    position: relative;
}


h3{
    font-size: 4vh;
    // century gothic
}


