// @import '../style//Breakpoints/xxl.css';
// @import '../style/Breakpoints/xlg.css';
// @import '../style/Breakpoints/lg.css';
// @import '../style/Breakpoints/xsm.css';
// @import '../style/Breakpoints/sm.css';
// @import '../style/Breakpoints/md.css';

body{
    background-image: url(../images/pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-wrapper{
    position: relative;
    width: 200%;
}

 
@media only screen and (min-width: 500px){
    body{
        background-size: auto;
    }
}
@media only screen and (min-width: 800px){
    body{
        background-size: 200%;
    }
}
@media only screen and (min-width: 1200px){
    body{
        background-size:150%;
        max-width:1000px;
    }
}
